
<div class="sidebar">
  <h2>Available Actions</h2>
<% if user.program_plan.nil? %>
  <%= form_for ProgramPlan.new do |f| %>
    <%= f.hidden_field :id, value: program_plan.id %>
    <%= f.submit 'Start This Program'%>
  <% end  %>
  <p>placeholder: want to start this program?</p>
<% elsif user.program_plan == program_plan %>
  <%= link_to 'Edit Your Program', edit_program_plan_path(program_plan) %>
  <%= form_for program_plan, method: :delete do |f| %>
    <%= f.submit 'stop your current program' %>
  <% end %>
<% else %>
  <p>Cancel your current program if you want to start this one!</p>
<% end %>
</div>
