
<div class="sidebar">
<% if user.program_plan.nil? %>
  <%= form_for ProgramPlan.new do |f| %>
    <%= f.hidden_field :id, value: program_plan.id %>
    <%= f.submit 'Start Program', {class: 'button'}%>
  <% end  %>
<% elsif user.program_plan == program_plan %>
  <div class="column-4">
    <%= link_to 'Edit Program', edit_program_plan_path(program_plan), {class: 'button', id: 'edit-button'} %>
  </div>
  <div class="column-4">
    <%= form_for @program_plan, method: :delete do |f| %>
      <%= f.submit 'Stop Program', {class: 'button', id: 'stop-button'} %>
    <% end %>
  </div><br><br>
<% else %>
  <p>Cancel your current program if you want to start this one!</p>
<% end %>
</div>
