<h1>Edit Your Program</h1>

<%= form_for @program_plan do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br><br>
  <%= f.label 'Excercises in this program: ' %>
  <%= f.collection_check_boxes(:exercise_ids, @program_plan.valid_exercises, :id, :name) %>
  <%= f.submit %>
<% end %>
