<h1><%= @program_plan.name %></h1>
<h2><%= @program_plan.description %></h2>


<%= render partial:'available_actions', locals: {program_plan: @program_plan, user: @user} %>


<h3>Exercises in this program</h3>

<ul>
<% @program_plan.exercises.each do |exercise| %>
  <div class="modul-container">
    <button id="show<%=exercise.name%>" onclick="document.getElementById('<%=exercise.name%>').style.display='block';
      document.getElementById('hide<%=exercise.name%>').style.display='block'; document.getElementById('show<%=exercise.name%>').style.display='none'"><%= exercise.name %></button>
    <button id="hide<%=exercise.name%>" onclick="document.getElementById('<%=exercise.name%>').style.display='none';
      document.getElementById('hide<%=exercise.name%>').style.display='none'; document.getElementById('show<%=exercise.name%>').style.display='block'" style='display:none'><%= exercise.name %></button>
    <ul>
      <ul id="<%= exercise.name %>" style="display:none">
          <div class="modul-content">
            <div>
              <p><%= exercise.description %></p>
              <% if exercise_found = Exercise.all.find_by(name: exercise.name, standard: true) %>
                <% exercise_found.links.each do |link| %>
                  <p><%= link_to link.description, link.name, target: :_blank%></p>
                <% end %>
              <% end %>
            </div>
          </div>
      </ul>
    </ul>
  </div>
<% end %>
</ul>

<h3>Routine
  <% if @program_plan.user == @user %>
    <%= link_to 'edit', edit_routines_path %>
  <% end %>
</h3>

<ul>
<% @program_plan.days.each do |day| %>
  <li>
    <%= day.name %>
    <% day.exercises.each_with_index do |exercise, i| %>
      <% if i == day.exercises.length - 1 %>
        <%= exercise.name %>
      <% else %>
        <%= exercise.name %>,
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<% if !@program_plan.links.empty? %>
  <h3>Learn More</h3>
  <ul>
  <% @program_plan.links.each do |link| %>
    <li><%= link_to link.description, link.name, target: :blank %></li>
  <% end  %>
  </ul>
<% end %>
