<h1><%= @program_plan.name %></h1>
<h2><%= @program_plan.description %></h2>


<%= render partial:'available_actions', locals: {program_plan: @program_plan, user: @user} %>


<h3>Exercises in this program</h3>

<ul>
<% @program_plan.exercises.each do |exercise| %>
  <li><%= link_to exercise.name, program_plan_exercise_path(@program_plan, exercise) %></li>
<% end %>
</ul>

<h3>Routine</h3>

<ul>
<% @program_plan.days.each do |day| %>
  <li>
    <%= day.name %>-
    <% day.exercises.each_with_index do |exercise, i| %>
      <% if i == day.exercises.length - 1 %>
        <%= exercise.name %>
      <% else %>
        <%= exercise.name %>,
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>


<h3>Learn More</h3>
<ul>
<% @program_plan.links.each do |link| %>
  <li><%= link_to link.description, link.name, target: :blank %></li>
<% end  %>
</ul>
