<div class='nested-fields'>
  <div class="column-3 mb3">
  <%= f.collection_select(:name, exercises, :name, :name, selected: selected) %>
  <%= f.label :weight %>
  <%= f.number_field :weight, step: 5, min: 0, max: 2000, required:true %>
  <div class="sets column-6">
    <%= f.label :sets %>
    <%= f.number_field :sets, min: 1, max: 100, required: true %>
  </div>
  <div class="reps column-6">
    <%= f.label :reps %>
    <%= f.number_field :reps, min: 1, max: 100, required: true %>
  </div>

  <%= link_to_remove_association "remove exercise", f, {tabindex: '-1'}%>
  </div>
</div>
