<h1><%= @journal.name %></h1>


<button id="js-earlier-entries" class="button"><</button>
<button id="js-later-entries" class="button">></button>

<div id="dateInfo">
</div>

<div id="entries">
</div>

<!-- <ul>
  <% @journal.entries.each do |entry| %>
    <li>
      <%= entry.date.strftime('%m-%d-%Y') %><br>
      Exercises: <% entry.exercises.each do |exercise| %>
        <%= exercise.name %>- <%= exercise.weight %>
      <% end %><br>
      Comments: <%= entry.comments %><br><br>
    </li>
  <% end %>
</ul> -->


<script type="text/javascript">
  // If I use let/const, page will try to reload the variables if I rejoin from another section, and ajax will not work.
  var buttonEarlier = document.getElementById('js-earlier-entries');
  var buttonLater = document.getElementById('js-later-entries');
  var entryDiv = document.getElementById('entries');
  var month = new Date().getMonth() + 1;
  var year = new Date().getFullYear();

  document.addEventListener('DOMContentLoaded', function(){
    let url = '<%= journal_entries_path %>';
    buttonEarlier.addEventListener('click',function(e) {
      updateDateInfo(-1);
      getEntries(url);
    });
    buttonLater.addEventListener('click', function(e) {
      updateDateInfo(1);
      getEntries(url);
    });
  })

  function updateDateInfo(change) {
    month += change;
    let dateInfo = document.getElementById('dateInfo');
    dateInfo.textContent = `${month}/${year}`;
  }

  function getEntries(url) {
    fetch(url, {
      method: 'GET',
      headers: {
        'Accept': 'application/json',
      }
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(data) {
      let entriesHTML = '<h2>Entries</h2>';
      let selectedEntries = [];
      data.entries.forEach(function(entry) {
        if (entry.date.slice(5, 7) === String(month)) {
          selectedEntries.push(entry);
        }
      })
      debugger
      selectedEntries.forEach(function(entry) {
        let entryHTML = `<ul>${entry.date.slice(0, 10)}</ul>`;
        let exercisesHTML = '';
        entry.exercises.forEach(function(exercise) {
          exercisesHTML += `<li>${exercise.name} - ${exercise.weight}</li>`;
        })
        let entryElement = `<div class="entry">${entryHTML + exercisesHTML}</div>`;
        entriesHTML += entryElement;
      })
      entryDiv.innerHTML = entriesHTML;
    })
  }

</script>
