<h1><%= @entry.date.strftime('%Y-%m-%d') %></h1>
<% @entry.exercises.each do |exercise| %>
  <%= exercise.name %>- <%= exercise.weight %> - <%= exercise.sets %> x <%= exercise.reps %>
<% end %>
<p>
  <%= @entry.comments %>
</p>
