<h1><%= @entry.date.strftime('%Y-%m-%d') %></h1>
<% @entry.exercises.each do |exercise| %>
  <%= exercise.name %>- <%= exercise.weight %> - <%= exercise.sets %> x <%= exercise.reps %>
<% end %>
<p>
  <%= @entry.comments %>
</p>

<%= form_for @entry, url: journal_entry_path(@user, @entry) ,method: :delete do |f| %>
  <%= f.submit 'Delete Entry', {class: 'button', id: 'stop-button'} %>
<% end %>
