<h1>Welcome <%= @user.name %> <img src="<%= @user.image %>" alt="" %></h1>


<%= render partial: 'journal_link', locals: {user: @user} %>
<br>
<%= link_to 'Workout Programs', program_plans_path %>

<footer>
<%= form_for @user, :url => logout_path, :method => :delete do |f| %>
  <%= f.submit 'Log Out'%>
<% end %>
</footer>
