<h1>Your Stats</h1>

<p>Height: <%= @user.height %></p>
<p>Weight: <%= @user.weight %></p>

<%= form_for @user, url: stats_path do |f| %>
  <%= f.label :height %>
  <%= f.number_field :height %>
  <br>
  <%= f.label :weight %>
  <%= f.number_field :weight %>
  <%= f.submit %>
<% end %>


<script type="text/javascript">
  (function() {
    addListeners();
  })()

  function addListeners() {
    document.querySelector('.edit_user').addEventListener('submit', function(e) {
      e.preventDefault();
      editUser(this);
    })
  };

  function editUser(form) {
    $.ajax({
      type: 'PATCH',
      accepts: 'application/json',
      url: form.action,
      data: $(form).serialize(),
    }).done(function(data) {
      debugger
    })
  }
</script>
