<h1>Your Stats (Under Construction)</h1>

<div id="stats-data">
  <p>Height: <%= @user.height ? @user.height.to_s + ' inches' : nil %></p>
  <p>Weight: <%= @user.weight ? @user.weight.to_s + ' lbs' : nil %></p>
</div>

<button id="js-show-stats-form" style="display: block; color: blue">edit</button>

<div id="stats-form" class="column-6" style="display: none">
  <%= form_for @user, url: stats_path do |f| %>
    <%= f.label :height, 'Height (inches)'%>
    <%= f.number_field :height %>
    <br>
    <%= f.label :weight, 'Weight (lbs)' %>
    <%= f.number_field :weight %>
    <%= f.submit 'Save'%>
  <% end %>
</div>



<script type="text/javascript">
  (function() {
    addListeners();
  })()

  function addListeners() {
    document.querySelector('.edit_user').addEventListener('submit', function(e) {
      e.preventDefault();
      editUser(this);
    })
    document.getElementById('js-show-stats-form').addEventListener('click', function(e) {
      document.getElementById('stats-form').style.display = '';
    })
  };

  function editUser(form) {
    $.ajax({
      type: 'PATCH',
      url: form.action,
      data: $(form).serialize(),
    }).done(function(data) {
      console.log(data);
      $('#stats-data').html(data);
      $('input[type="submit"]').prop('disabled', false);
      $('#stats-form').hide();
    }).fail(function(error) {
      alert(error);
    })
  }
</script>
