<h1>Your Stats</h1>

<p>Height: <%= @user.height %></p>
<p>Weight: <%= @user.weight %></p>

<%= form_for @user, url: stats_path do |f| %>
  <%= f.label :height %>
  <%= f.number_field :height %>
  <br>
  <%= f.label :weight %>
  <%= f.number_field :weight %>
  <%= f.submit %>
<% end %>


<script type="text/javascript">
  (function() {
    addListeners();
  })()

  function addListeners() {
    document.querySelector('.edit_user').addEventListener('submit', function(e) {
      e.preventDefault();
      let url = this.action;
      let form = serialize(this); //serialize function from https://code.google.com/archive/p/form-serialize/
      editUser(url, form);
    })
  };

  function editUser(url, form) {
    fetch(url, {
      method: 'PATCH',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
      },
      body: form
    .then(function(response) {
      return response.json();
    })
    .then(function(json) {
    })
  }
</script>
