<%= form_for [journal, entry] do |f| %>
  <div class="column-3">
    <%= f.label :date %><br>
    <%= f.date_field :date, value: Time.now.strftime('%Y-%m-%d') %><br>
  </div>
  <div class="column-9">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %><br>
  </div>
  <p class="px2">
    <%= f.label :exercises %>
  </p>

  <% @program_plan.days.each do |day| %>
    <div class="workout-form <%= day.name.split.join %>" style='display: none'>
        <% day.exercises.each do |exercise| %>
          <%= f.fields_for :exercises, entry.exercises.build do |f| %>
            <%= render partial: 'exercise_fields', locals: {f: f, exercises: @program_plan.exercises, selected: exercise.name} %>
          <% end %>
      <% end %>
    </div>
  <% end %>


  <div id='exercises'>
    <div class='links'>
      <%= link_to_add_association 'add exercise', f, :exercises,
      partial: 'exercise_fields', render_options: {locals: {exercises: @program_plan.exercises, selected: nil}} %>
    </div>
  </div>
  <br>
  <%= f.submit %>
<% end %>
