<%= form_for [journal, entry] do |f| %>
  <div class="column-3">
    <%= f.label :date %><br>
    <%= f.date_field :date, value: Time.now.strftime('%Y-%m-%d') %><br>
  </div>
  <div class="column-9">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %><br>
  </div>
  <p class="px2">
    <%= f.label :exercises %>
  </p>

  <% @program_plan.days.each do |day| %>
    <div class="<%= day.name %>" style='display: none'>
        <% day.exercises.each do |exercise| %>
          <%= f.fields_for :exercises, entry.exercises.build do |f| %>
            <div class='nested-fields'>
              <div class="column-3 mb3">
              <%= f.collection_select(:name, @program_plan.exercises, :name, :name, selected: exercise.name) %>
              <%= f.label :weight %>
              <%= f.select :weight, (5..500).step(5), selected: 45 %>
              <%= link_to_remove_association "remove exercise", f %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  <% end %>

  <div id='exercises'>
    <!-- <%= f.fields_for :exercises, entry.exercises.build do |exercise| %>
      <%= render partial: 'exercise_fields', locals: {f: exercise} %>
    <% end %> -->
    <div class='links'>
      <%= link_to_add_association 'add exercise', f, :exercises %>
    </div>
  </div>
  <br>
  <%= f.submit %>
<% end %>
