<%= form_for [journal, entry] do |f| %>
  <div class="column-3">
    <%= f.label :date %><br>
    <%= f.date_field :date, value: Time.now.strftime('%Y-%m-%d') %><br>
  </div>
  <div class="column-9">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %><br>
  </div>
  <%= f.label :exercises %>
  <div id='exercises'>
    <%= f.fields_for :exercises, entry.exercises.build do |exercise| %>
      <%= render partial: 'exercise_fields', locals: {f: exercise, exercise_list: Exercise.all} %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add exercise', f, :exercises %>
    </div>
  </div>
  <br>
  <%= f.submit %>
<% end %>
