
<div class='top-bar'>
  <h3>
    Your Current Program: <br><%= link_to @program_plan.name, program_plan_path(@program_plan) %>
    <% if @program_plan.days.empty? %>
      | <%= link_to 'Create Routine', new_routines_path %>
    <% else %>
      | <%= link_to 'edit routine', edit_routines_path %>
      <br>Choose Workout: <br />
      <% @program_plan.days.each do |day| %>
        <a href="" class="workout-link">
          <%= day.name %>
        </a>
      <% end %>
    <% end %>
  </h3>
</div>
<br />
<h2>Log your workout</h2>
<%= render partial: 'form',
  locals: {
    journal: @journal,
    program_plan: @program_plan,
    entry: @entry,
  }
%>


<script type="text/javascript">
(function createFormsFromWorkout() {
  const workouts = document.querySelectorAll('.workout-link');
  for (let i = 0; i < workouts.length; i++) {
    workouts[i].addEventListener('click', function(e){
      let workoutForms = document.querySelectorAll('.workout-form');
      for (let i = 0; i < workoutForms.length; i++) {
        workoutForms[i].style.display = 'none';
      }
      let currentForm = document.querySelector(`.${workouts[i].textContent.trim().split(' ').join('')}`);
      currentForm.style.display = "block";
    })
  }
  const submitButton = document.querySelector('input[type="submit"]')
  submitButton.addEventListener('click', function(e) {
    let workoutForms = document.querySelectorAll('.workout-form');
    for (let i = 0; i < workouts.length; i++) {
      if (workoutForms[i].style.display === 'none') {
        workoutForms[i].textContent = "";
      }
    }
  })
})();


</script>
