<!DOCTYPE html>
<html>
  <head>
    <title>Workout Journal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700|Merriweather:400,700">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  </head>

  <body>
    <header class="left column-nav overflow-auto">
      <img class="menu" src="assets/menu.png" onclick="toggleElement(document.querySelector('.nav'),'block')">
      <section class="nav bg-darken-2 px3 py1">
        <h1 class="h3 center"><%= @user.name %><br><br><img src="<%= @user.image %>" class="center" alt=""></h1><br>
        <nav>
            <%= link_to 'Home', root_path, {class: "block h6 caps button button-nav ml1 mr1 center"} %><br>
            <%= link_to 'New Entry', journals_path, {class: "block h6 caps button button-nav ml1 mr1 center"} %><br>
            <% if @user.journal %>
              <%= link_to 'Journal', journal_entries_path(@user.journal), {class: "block h6 caps button button-nav ml1 mr1 center"} %><br>
            <% else %>
              <%= link_to 'Journal', new_journal_path, {class: "block h6 caps button button-nav ml1 mr1 center"} %><br>
            <% end %>
            <%= link_to 'Programs', program_plans_path, {class: "block h6 caps button button-nav ml1 mr1 center"} %><br>
            <%= link_to 'Stats', stats_path, {class: "block h6 caps button button-nav ml1 mr1 center"} %><br>
        </nav>
      </section>
    </header>
    <div class="px4 column-9">
      <% if flash[:message].present? %>
        <h1><%= flash[:message] %></h1>
      <% end %>
    <main>
        <%= yield %>
      </main>
      <footer class="footer">
        <small>&copy; 2018 <strong>WorkoutJournalProject</strong></small>
      </footer>
    </div>
  </body>
</html>
